<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta', {title: 'New Paste'}); %>
<body>
<%- include('partials/savebar') %>
<%- include('partials/sidePanel') %>
<%- include('partials/textarea') %>
<noscript>
    <style>
        form,
        .vim-command-container,
        .vim-mode-container,
        .savebar,
        .sidenav {
            display: none;
        }
    </style>
    <p class="nojs">Javascript is required to use this web interface...</p>
    <p class="nojs">... but you can still paste using a utility like curl to make a POST request.<br></p>
</noscript>
<script src="main.js"></script>
</body>
</html>