<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta', {title: 'View Paste'}); %>
<body>
<div class="linenum-container">
    <p class="yabin-linenum"><%- lines %></p>
</div>
<div class="content-container">
    <p class="yabin-content"><%- content %></p>
</div>
</body>
</html>