<ul id="slide-out" class="sidenav">
    <li>
        <div class="logo">
            <a href="#" id="closesidemenu" class="close"><i class="material-icons">arrow_forward</i></a>
            <img src="assets/logo.svg"/>
            <h5>Thank you for using Yabin!</h5>
            <p>Please report all bugs on the <a href="https://github.com/r3valkyrie/yabin">Github</a></p>
        </div>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Expiration<i class="material-icons">query_builder</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">Burn After Reading</a></li>
                <li><a href="#!">1 Day</a></li>
                <li><a href="#!">1 Month</a></li>
                <li><a href="#!">Never</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    <li>
        <div class="divider"></div>
    </li>

    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Syntax Highlighting<i class="material-icons">code</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">CSS</a></li>
                        <li><a href="#!">HTML</a></li>
                        <li><a href="#!">JS</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    <li>
        <div class="whydidntthisjustuseflexboxanyway">
            <a class="btn-floating btn-large waves-effect waves-light blue" id="save"><i class="material-icons">save</i></a>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="input-field col s3">
                <a id="copyURLButton" class="btn-small disabled waves-effect waves-light"><i class="material-icons">content_copy</i></a>
            </div>
            <div class="input-field col s9">
                <input id="paste-url" type="text" class="validate">
            </div>
        </div>
    </li>
</ul>