<!-- views/partials/topPanel.ejs -->

<nav>
    <div class="nav-wrapper">
        <ul class="left">
            <li><a title="Config" id="configButton" class="active"><i class="material-icons">settings</i></a></li>
            <li><a title="About" id="aboutButton"><i class="material-icons">help</i></a></li>
        </ul>
    </div>
</nav>