@import "../../../node_modules/nord/src/sass/nord";

body {
  background-color: $nord0;
  color: $nord8;
}

.savebartext {
  color: $nord3;
}

nav {
  background-color: $nord2;
  color: $nord9;
  box-shadow: none;
}

.btn-large {
  box-shadow: none;

}

.logo {
  p {
    color: $nord0;
  }
  h1 {
    color: $nord9;
  }
  .close {
    color: $nord0;
  }
}

.blue {
  background-color: $nord10 !important;
}

.red {
  background-color: $nord11 !important;
}

.active {
  background-color: $nord1;
}

.side-panel {
  background-color: $nord1;
}

.sidenav {
  background-color: $nord6;
}

.CodeMirror-linenumbers, .linenum-container {
  border-right: 1px solid $nord1
}

.input-field label {
  background-color: transparent;
  color: $nord3;
}

#copyURLButton {
  background-color: $nord14;
  color: $nord5;
  box-shadow: none;
}

footer {
  background-color: $nord0 !important;

  p {
    color: $nord8;
  }
}

.nojs {
  color: $nord4;
}

.yabin-linenum {
  color: $nord3;
}

.yabin-content {
  color: $nord5;
}